<table class="table table-striped">
  <thead>
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Book Count</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @authors.each do |author| %>
    <% count = (@books_by_author[author.id] || []).size %>
      <tr>
        <td><a href="/authors/<%= author.id %>"><%= author.last_name %></a></td>
        <td><a href="/authors/<%= author.id %>"><%= author.first_name %></a></td>
        <td><%= count %></td>
        <td>
          <a class="btn btn-link" href="/authors/<%= author.id %>/edit">
            <span class="glyphicon glyphicon-edit" title="Edit Author"></span>
          </a>
        </td>
        <td>
          <form action="/authors/<%= author.id %>/delete" method="POST"
            onsubmit="return confirm('Delete <%= author.name %> (and all books)?');">
            <button type="submit" class="btn btn-link">
              <span class="glyphicon glyphicon-remove" title="Delete Author"></span>
            </button>
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
