<div class="col-md-6">
  <h2>Books (<%= @books.size %>)</h2>
  <%= erb :_booklist %>
  <hr>
  <h3>Add a Book</h3>
  <%= erb :_bookform %>
</div>
<div class="col-md-6">
  <h2>Authors (<%= @authors.size %>)</h2>
  <%= erb :_authorlist %>
  <hr>
  <h3>Add an Author</h3>
  <%= erb :_authorform %>
</div>
